.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  max-width: 600px;
}

.container h1 {
  margin-bottom: 0px;
}

.projects-container {
  padding: 60px 0px;
}

@media only screen and (max-width: 800px) {
  .container {
    padding: 60px;
  }
}
