.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 500px;
}

.container h1 {
  margin-bottom: 0px;
}

.jobs-container {
  padding: 60px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media only screen and (max-width: 800px) {
  .container {
    padding: 60px;
  }
  .jobs-container {
    align-items: center;
  }
}
