@use 'src/styles/colors.scss';
@import 'src/styles/fonts.scss';

.page {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nyan-cat {
  width: 200px;
}

.text-container {
  line-height: 1em;
}

h1 {
  color: colors.$not-quite-black;
  font-family: Poppins;
  font-weight: 700;
  font-size: 60px;
}

h2 {
  color: colors.$not-quite-black;
  font-family: Poppins;
  font-weight: 400;
  font-size: 30px;
}
