.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nyan-cat {
  width: 200px;
}

.text-container {
  line-height: 1em;
}

.wrapper h1 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 60px;
}

.wrapper h2 {
  font-family: Poppins;
  font-weight: 400;
  font-size: 30px;
}

.socials-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.socials-container a {
  margin-right: 20px;
  text-decoration: none;
}

.socials-container img {
  width: 40px;
  transition: all 0.3s ease-in-out;
}

.socials-container img:hover {
  transform: translate(0px, -5px);
  filter: drop-shadow(0 5px 15px rgba(0, 0, 0, 0.3));
  cursor: pointer;
}

.button-wrapper {
  margin-top: 30px;
  display: inline-block;
  text-decoration: none;
}

@media only screen and (max-width: 800px) {
  .container {
    width: 100%;
    padding: 30px;
    flex-direction: column;
  }

  .nyan-cat {
    margin-bottom: 30px;
  }

  .text-container {
    text-align: center;
  }

  .socials-container {
    justify-content: center;
  }

  .socials-container a {
    margin: 10px;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 26px;
    margin-bottom: 30px;
  }
}
