@use 'src/styles/colors.scss';
@import 'src/styles/fonts.scss';

.page {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nyan-cat {
  width: 200px;
}

.text-container {
  line-height: 1em;
}

h1 {
  color: colors.$not-quite-black;
  font-family: Poppins;
  font-weight: 700;
  font-size: 60px;
}

h2 {
  color: colors.$not-quite-black;
  font-family: Poppins;
  font-weight: 400;
  font-size: 30px;
}

.socials-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.socials-container a {
  margin-right: 20px;
}

.socials-container img {
  width: 40px;
  transition: all 0.3s ease-in-out;
}

.socials-container img:hover {
  transform: translate(0px, -5px);
  filter: drop-shadow(0 5px 15px rgba(0, 0, 0, 0.3));
  cursor: pointer;
}

button {
  margin-top: 30px;
}
