@use 'src/styles/colors.scss';
@import 'src/styles/fonts.scss';

button {
  background-color: colors.$not-quite-black;
  border: none;
  color: colors.$white;
  padding: 10px 30px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

button:hover {
  cursor: pointer;
  color: colors.$not-quite-black;
  background-color: colors.$white;
  filter: drop-shadow(0 5px 15px rgba(0, 0, 0, 0.3));
  transform: translate(0px, -5px);
}
