@use 'src/styles/colors.scss';
@import '@fontsource/poppins/100.css';
@import '@fontsource/poppins/200.css';
@import '@fontsource/poppins/300.css';
@import '@fontsource/poppins/400.css';
@import '@fontsource/poppins/500.css';
@import '@fontsource/poppins/600.css';
@import '@fontsource/poppins/700.css';
@import '@fontsource/poppins/800.css';
@import '@fontsource/poppins/900.css';

h1 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 40px;
  color: colors.$not-quite-black;
}

p {
  font-family: Poppins;
  font-weight: 300;
  font-size: 16px;
  color: colors.$not-quite-black;
}
