.wrapper a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  margin: 15px;
  height: 60px;
}

.wrapper a:hover {
  transform: translate(0px, -5px) scale(1.1);
  filter: drop-shadow(0 5px 15px rgba(0, 0, 0, 0.3));
  cursor: pointer;
}

.wrapper img {
  height: 100%;
}
