.container {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 10px 60px;
}

.container h3 {
  font-size: 14px;
}

@media only screen and (max-width: 800px) {
  .container {
    flex-direction: column;
    justify-content: center;
  }
}
