@import 'tailwindcss';

@theme {
  --font-sans:
    'Geist Variable', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono:
    'Geist Mono Variable', ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, 'Liberation Mono', 'Courier New', monospace;
}

@layer base {
  html,
  body {
    @apply h-full w-full m-0 p-0 font-sans;
    background-color: #000000;
  }

  #root {
    @apply h-full w-full;
  }
}
