name: CI
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
env:
  CI: true

jobs:
  test-and-build:
    name: Test & Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install Dependencies
        run: bun install

      - name: Lint
        run: bun lint

      - name: Build
        run: bun run build
